/* .sponsor-search {
  background-image: url("../Layout/img/ie.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-position-x: 95%;
} */

p {
  font-size: 2rem;
}
.All-campaigns a {
  margin-top: 40px;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  color: #333;
  font-size: 1rem;
  /* text-decoration: underline; */
}

select {
  font-size: 1.5rem;
  font-family: "Open Sans Condensed", sans-serif;
  cursor: pointer;
}

.sponsor-search h1 {
  font-size: 3rem !important;
  background: #edf1f1f1;
}

.sponsor-search p {
  font-size: 2rem !important;
  font-family: "Open Sans Condensed", sans-serif;
  background: #edf1f1f1;
}
