/* .Dashboard {
  text-align: center;
  margin: 15px;
  font-size: 30px;
}

.Dashboard-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
}

.Sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
} */
