.billboard {
  /* background-image: url("../Layout/img/school_search_box.jpg"); */
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list-group-item {
  font-size: 1.4rem;
}

.list-group {
  max-height: 36vh;
  margin-bottom: 10px;
  opacity: 0.9;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.slogan {
  padding-top: 3rem;
}

h4 {
  font-size: 4rem;
  color: white;
  text-align: left;
}

h5 {
  font-size: 1.5rem;
  color: white;
  text-align: left;
}

.foundNoSchool {
  color: #fff;
  font-size: 1.5rem;
}

@media all and (max-width: 600px) {
  .foundNoSchool {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 1rem;
    padding-right: 120px;
  }
}

@media all and (max-width: 700px) {
  .foundNoSchool {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 1rem;
    padding-right: 120px;
  }
  .slogan h4 {
    font-size: 2rem;
  }
  .slogan h5 {
    font-size: 1rem;
  }
  .mainsearch.form-control {
    font-size: 1rem !important;
  }
}

@media all and (max-width: 400px) {
  .list-group-item {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 0.1rem;
    padding-right: 50px;
  }
}

@media all and (max-width: 580px) and (min-width: 500px) {
  .foundNoSchool {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 1rem;
    padding-right: 120px;
  }
  .slogan h4 {
    font-size: 2rem !important;
  }
  .slogan h5 {
    font-size: 1rem !important;
  }
  .mainsearch.form-control {
    font-size: 1rem !important;
  }
  .Navbar-container {
    margin-top: 15px !important;
  }
}

@media all and (max-width: 800px) and (min-width: 710px) {
  .foundNoSchool {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 1rem;
    padding-right: 120px;
  }
  .slogan h4 {
    font-size: 2rem !important;
  }
  .slogan h5 {
    font-size: 1rem !important;
  }
  .mainsearch.form-control {
    font-size: 1rem !important;
  }
  .Navbar-container {
    margin-top: 15px !important;
  }
}

@media all and (max-height: 360px) {
  .foundNoSchool {
    font-size: 1rem;
  }
  .slogan {
    padding-top: 1rem;
    padding-right: 120px;
  }
  .slogan h4 {
    font-size: 1.5rem !important;
  }
  .slogan h5 {
    font-size: 0.8rem !important;
  }
  .mainsearch.form-control {
    font-size: 1rem !important;
  }
  .Navbar-container {
    margin-top: 15px !important;
  }
}
